<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>272214780239-rih7tjflk48dcav3d8uicupq41vno111.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.272214780239-rih7tjflk48dcav3d8uicupq41vno111</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>272214780239-14glunnkdopptgvo0msgtpis2vvcahj9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl01R1l3uW-6nuleF8mnDxhBami9cobTs</string>
	<key>GCM_SENDER_ID</key>
	<string>272214780239</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.custlr.apps</string>
	<key>PROJECT_ID</key>
	<string>custlr-app-69c69</string>
	<key>STORAGE_BUCKET</key>
	<string>custlr-app-69c69.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:272214780239:ios:a8a2c22c1b91a954637d3a</string>
</dict>
</plist>